html { 
  font-family: 'Lato', sans-serif;
  background: white;
  font-size: 14px;
}

/* Titles */
h1 { text-transform: uppercase }
h1, h2 { 
	font-weight: normal; 
  margin-top: 10px;
  margin-bottom: 10px;
}


.title
{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
}

.latest
{-
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail
{
  font-size: 2em;
  line-height: 1em;
}

.entry-content
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

article section .about
{
  font-size: 18px;
  color: #444;
  text-align: justify;
}

article section .blog-post
{
  font-size: 16px;
}



/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 50px 10px;
}

/* Articles */
p.post_entry {  
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  /*border-bottom: 1px solid #eee;
  background: #E0E0E0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;*/
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
/*li.post_list:hover {
  box-shadow: 0px 0px 5px 3px #1DAEDF;
}*/


/* Links */;
a  { color:#1DAEDF; text-decoration:none; }
a:visited { color:#1DAEDF; text-decoration:none; }
a:link { color:#1DAEDF; text-decoration:none; }
a:active { color:#1DAEDF; text-decoration:none; }
a:hover { text-decoration: underline; }

/* Code */
code, pre, codehilite {
  font-size: 12px;
  font-family: 'Oxygen Mono', sans-serif;
  color: #2E2E2E;
}
.codehilite  {
  /* background: #272822; */
  color: #2E2E2E;
}

/* Sidebar */
aside {
  font-size: 14px;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-color: #2980b9;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 { 
  text-transform: uppercase;
  font-size: 14px; 
  margin-bottom: 5px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social
{
  display: inline-block;
  margin-top: 70px;
}

.nav
{
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #328cc7;
  margin-top: 40px;
}

.nav > ul > li
{
  font-size: 15px;
}

.nav a
{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav a:hover
{
    background-color: #328cc7;
}



.list-bare
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link 
{
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid #328cc7;
}

.nav__link {
display: block;
padding: 0.77273rem 0;
border-bottom: 1px solid #328cc7;
}

#about {
  padding-left: 50px;
}

/************Make "Pre" Text Wrap***************/

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    width: 100%;
    height: auto;
    padding: 14px;
    position: static;
    font-size: 80%;
    text-align: center;
    margin-left: -30px;
  }
  body > article {
    margin: 0 auto;
    padding-top: 5px;
  }

  footer
  {
    margin-left:50px;
  }
  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
  nav 
  {
    width: 100%
  }
  .nav
  {
    margin-left: 10px;
  }
  #about {
    padding-left: 0px;
  }
}

img {
  max-width: 100%;
}

/* --------------------Pygments Style Codeschool--------------------*/

.highlight code, .highlight pre{color:#fdce93;background-color:#3f3f3f}
.highlight .hll{background-color:#222}
.highlight .c{color:#7f9f7f}
.highlight .err{color:#e37170;background-color:#3d3535}
.highlight .g{color:#7f9f7f}
.highlight .k{color:#f0dfaf}
.highlight .l{color:#ccc}
.highlight .n{color:#dcdccc}
.highlight .o{color:#f0efd0}
.highlight .x{color:#ccc}
.highlight .p{color:#41706f}
.highlight .cm{color:#7f9f7f}
.highlight .cp{color:#7f9f7f}
.highlight .c1{color:#7f9f7f}
.highlight .cs{color:#cd0000;font-weight:bold}
.highlight .gd{color:#cd0000}
.highlight .ge{color:#ccc;font-style:italic}
.highlight .gr{color:red}
.highlight .gh{color:#dcdccc;font-weight:bold}
.highlight .gi{color:#00cd00}
.highlight .go{color:gray}
.highlight .gp{color:#dcdccc;font-weight:bold}
.highlight .gs{color:#ccc;font-weight:bold}
.highlight .gu{color:purple;font-weight:bold}
.highlight .gt{color:#0040D0}
.highlight .kc{color:#dca3a3}
.highlight .kd{color:#ffff86}
.highlight .kn{color:#dfaf8f;font-weight:bold}
.highlight .kp{color:#cdcf99}
.highlight .kr{color:#cdcd00}
.highlight .kt{color:#00cd00}
.highlight .ld{color:#cc9393}
.highlight .m{color:#8cd0d3}
.highlight .s{color:#cc9393}
.highlight .na{color:#9ac39f}
.highlight .nb{color:#efef8f}
.highlight .nc{color:#efef8f}
.highlight .no{color:#ccc}
.highlight .nd{color:#ccc}
.highlight .ni{color:#c28182}
.highlight .ne{color:#c3bf9f;font-weight:bold}
.highlight .nf{color:#efef8f}
.highlight .nl{color:#ccc}
.highlight .nn{color:#8fbede}
.highlight .nx{color:#ccc}
.highlight .py{color:#ccc}
.highlight .nt{color:#9ac39f}
.highlight .nv{color:#dcdccc}
.highlight .ow{color:#f0efd0}
.highlight .w{color:#ccc}
.highlight .mf{color:#8cd0d3}
.highlight .mh{color:#8cd0d3}
.highlight .mi{color:#8cd0d3}
.highlight .mo{color:#8cd0d3}
.highlight .sb{color:#cc9393}
.highlight .sc{color:#cc9393}
.highlight .sd{color:#cc9393}
.highlight .s2{color:#cc9393}
.highlight .se{color:#cc9393}
.highlight .sh{color:#cc9393}
.highlight .si{color:#cc9393}
.highlight .sx{color:#cc9393}
.highlight .sr{color:#cc9393}
.highlight .s1{color:#cc9393}
.highlight .ss{color:#cc9393}
.highlight .bp{color:#efef8f}
.highlight .vc{color:#efef8f}
.highlight .vg{color:#dcdccc}
.highlight .vi{color:#ffffc7}
.highlight .il{color:#8cd0d3}